$navbar-height: 50px;
$profile-form-width: 500px;
$left-container-width: 70%;
$right-container-width: 30%;
$breakpoint: 1000px;

$font-mini: 10px;
$font-small: 12px;
$font-med: 15px;
$font-large: 20px;

$active-color: hsla(210, 100%, 50%, 1);
$active-color-a: hsla(210, 100%, 50%, 0.5);
$active-color-b: hsla(210, 100%, 50%, 0.75);
$white-a: hsla(0, 0%, 100%, 0.75);
$purple-a: hsla(259, 100%, 65%, 0.8);
$background-color: #15232C;
$danger-color: #ff6939;
$success-color: #69C158;
$trans-red: hsla(0, 100%, 50%, 0.7);
$red: hsl(15, 83%, 61%);
$green: hsl(101, 84%, 71%);

@mixin breakpoint($point) {
 @if $point == xlarge {
    @media (max-width: 88em) { @content ; }
 }
   @else if $point == large {
    @media (max-width: 65em) { @content ; }
 }
  @else if $point == medium {
    @media (max-width: 40em)  { @content ; }
 }
 @else if $point == small {
    @media (max-width: 30.5em)  { @content ; }
 }
}

@mixin input-border() {
  background-color: $background-color;
  border: 2px solid hsla(0,0%,100%,.2);
  border-radius: 2px;
}
