.bottom-container {

  width: 100%;
  min-height: 250px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;

  h2 {
    box-sizing: border-box;
    height: 32px;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  @include breakpoint(large){
    -webkit-flex-direction: column;
    flex-direction: column;
  };

  @include breakpoint(medium){
    min-height: 1000px;
  };

  .script-container {
    width: 100%;
    min-height: 250px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;

    @include breakpoint(medium){
      -webkit-flex-direction: column;
      flex-direction: column;
    };

    .script-list {
      width: 20%;
      margin: 1px;
      height: 99%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      background-color: #1E2B34;
      box-sizing: border-box;

      @include breakpoint(large){
        padding-bottom: 2px;
      };

      @include breakpoint(medium){
        -webkit-order: 2;
        order: 2;
        width: 100%;
        max-height: 200px;
        min-height: 200px;
      };

      button {
        width: 100%;
        border-radius: 0px;
        border-bottom: #000 solid 1px;
        padding-left: 10px;
        text-align: left;
      }

      .list-item.active {
        background-color: #fff;
        button {
          background-color: $active-color-b;
        }
      }

      .list-item {
        display: block;
        position: relative;
        .switch {
          position: absolute;
          right: 10px;
          top: 6px;
          display: inline-block;
          height: 15px;
          width: 38px;
        }
        .switch-toggle {
          height: 13px;
          width: 13px;
        }
      }

      .scripts {
        margin: 1px;
        max-height: 100%;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
      }
      .scripts:hover {
        overflow-y: overlay;
        -webkit-overflow-scrolling: touch;
      }
    }

    .code-editor {
      width: 80%;
      position: relative;

      @include breakpoint(medium){
        -webkit-order: 1;
        order: 1;
        width: 100%;
        height: 100%;
      };

      form {
        height: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: relative;
        .code-editor-header {
          height: 32px;
          background-color: #3A444D;
          margin: 1px;
          box-sizing: border-box;
          span {
            font-size: 15px;
            color: #FFF;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 10px;
          }
          input {
            margin-top: 2px;
            width: 200px;
            border-width: 1px;
            @include breakpoint(small){
              width: 100px;
            };
          }
          button {
            position: absolute;
            top: 4px;
            right: 5px;
            line-height: 1.8;
            background-color: $danger-color;
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            @include breakpoint(small){
              width: 70px;
            };
          }
        }

        .textarea {
          background-color: #29353D;
          -webkit-flex: 1;
          flex: 1;
          margin: 1px;
          box-sizing: border-box;

          textarea {
            padding-left: 10px;
            padding-right: 10px;
            resize: none;
            width: 98%;
            height: 97%;
            font-family: 'Roboto Mono', 'Menlo', 'Ubuntu Mono', 'Monaco', 'Consolas', 'source-code-pro', 'monospace';
            line-height: 1.21;
            font-size: 14px;
            border: none;
            outline: none;
            color: #FFF;
            background-color: #29353D;
            overflow-y: hidden;
            box-sizing: border-box;
            @include breakpoint(small){
              height: 400px;
            };
          }
          textarea:focus {
            overflow-y: scroll;
          }
          textarea:hover{
            overflow-y: scroll;
          }
        }

        .action-buttons {
          position: absolute;
          right: 5px;
          bottom: 5px;
          button {
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.8;
            width: 5em;
          }
          .btn-run {
            background-color: $active-color;
            margin-right: 5px;
          }
          .btn-test {
            background-color: orange;
          }
        }
      }
    }
  }

  .doc-list {
    width: 30%;
    box-sizing: border-box;
    margin: 1px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -moz-box;
    -moz-box-orient: vertical;
    background-color: #1E2B34;

    @include breakpoint(large){
      width: 100%;
      min-height: 323px;
    };

    @include breakpoint(large){
      width: 100%;
      min-height: 323px;
    };

    button {
      width: 100%;
      text-align: left;
      border-bottom: 1px solid black;
      border-radius: 0px;
    }
    .docs {
      margin: 1px;
      margin-top: 2px;
      overflow-y: hidden;

      .doc-desc {
        border-bottom: 1px solid #000;
      }
    }
    .docs:hover {
      overflow-y: overlay;
    }
  }
}
