.card-header {
  height: 43px;
  background-color: #3A444D;
  display: flex;
  button {
    flex: 1;
    height: 100%;
    border-radius: 0;
    margin: 0 1px;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    background-color: lighten(#3A444D, 9%);
  }
  button:hover {
   background-color: lighten(#3A444D, 3%);
  }
}
