.navbar.live {
  background-color: $danger-color;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #1A2831;

  a {
    font-size: 15px;
  }

  img {
    height: $navbar-height;
  }

  p {
    font-size: $font-mini;
    height: inherit;
    line-height: 0.1;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    overflow: hidden;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    height: $navbar-height;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .active {
    color: $active-color;
  }

  .nav-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    li {
      border-right: 1px solid #1A2831;
    }
  }

  .nav-group-right {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    li {
      border-left: 1px solid #1A2831;
    }
  }

  .orderbook {
    li {
      width: 75px;
    }
  }

  .accounts {
    li {
      width: 100px;
    }
  }
}
