.orderbook-page {
  ul {
    -webkit-display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: -webkit-wrap;
    flex-wrap: wrap;

    li {
      flex: 0 1 150px;
      border: 2px solid $active-color-b;
      margin: 5px;
      padding: 10px;
      box-sizing: border-box;
      p {
        color: #fff;
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

.order-book {
  margin: 1px;
  margin-top: 2px;
  height: 400px;
  overflow-y: hidden;
  background-color: #29353D;
  @include breakpoint(large) {
    height: 200px;
  };
  .orderbook-row {
    p {
      font-size: 12px;
      font-weight: bold;
    }
    .ask {
      color: #EE7248;
      .bar {
        background-color: #EE7248;
      }
    }
    .bid {
      color: #9FF379;
      .bar {
        background-color: #9FF379;
      }
    }
    .size {
      float: right;
    }
    .bar-container {
      height: 14px;
      width: 20px;
    }
    .spread {
      border: 1px solid black;
    }
  }
}
.order-book:hover {
  overflow-y: overlay;
}

.float-right {
  float: right;
}

