.order-book {
  margin: 1px;
  margin-top: 2px;
  height: 400px;
  overflow-y: hidden;
  background-color: #29353D;
  @include breakpoint(large) {
    height: 200px;
  };
  .orderbook-row {
    p {
      font-size: 12px;
      font-weight: bold;
    }
    .ask {
      color: $red;
      .bar {
        background-color: $red;
      }
    }
    .bid {
      color: $green;
      .bar {
        background-color: $green;
      }
    }
    .size {
      float: right;
    }
    .bar-container {
      height: 14px;
      width: 20px;
    }
    .spread {
      border: 1px solid black;
    }
  }
}
.order-book:hover {
  overflow-y: overlay;
}

.float-right {
  float: right;
}

