.profile {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  form {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  div {
    display: block;
  }
  input {
    width: 98%;
    @include breakpoint(small){
      width: 96%;
    };
  }
  label {
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
  }
  .form-buttons {
    display: -webkit-flex;
    display: flex;
    button {
      margin-right: 10px;
      height: 25px;
    }
    .dropzone button {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 1px solid #000;
      margin-right: 0px;
      width: 50px;
      padding: 0 10px;
    }
    .btn-export {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-right: 0px;
      width: 50px;
      padding: 0 5px;
    }
  }
  .switch {
    height: 25px;
    width: 49px;
  }
  .switch-toggle {
    height: 23px;
    width: 25px;
  }
  .Select {
    width: 100%;
  }
  .Select-control {
    @include input-border();
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative;
  }
  .Select-arrow-zone {
    position: absolute;
    right: 0;
    margin: 10px 0;
  }
  .Select-clear-zone {
    display: none;
  }
  .Select-value {
    background-color: rgba(0, 126, 255, 0.4);
    border-color: rgba(0, 126, 255, 0.6);
    margin-top: 6px;
  }
  .Select-value-label {
    color: #FFF;
  }
  .Select-value-icon {
    color: #FFF;
  }
  .Select-menu-outer {
    @include input-border();
    width: inherit;
  }
  .Select-option {
    background-color: $background-color;
    color: #FFF;
  }
}
