.top-container {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
  min-height: 450px;

  @include breakpoint(large){
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 445px + 250px;
  };

  @include breakpoint(medium){
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 645px + 250px;
  };

  .left-container {

    width: 70%;
    box-sizing: border-box; margin: 1px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    @include breakpoint(large){
      width: 100%;
      min-height: 445px;
    };

    @include breakpoint(medium){
      min-height: 645px;
    };


    .chart-header {
      display: block;
      width: 100%;

      .chart-header-item-container {
        margin: 1px;
        padding-left: 1px;
        background-color: #3A444D;

        .chart-header-items {
          display: -webkit-inline-flex;
          display: inline-flex;
          width: 100%;
          @include breakpoint(small){
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
          };

          button.chart-header-item {
            margin: 3px 0;
            margin-bottom: 4px;
            border-radius: 4px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: rgba(0, 126, 255, 0.4);
            color: #FFF;
            position: relative;
            min-width: 60px;

            .fetching-loader {
              position: absolute;
              right: 33px;
              top: 2px;
            }
          }

          button.chart-header-item:hover {
            background-color: hsla(208, 100%, 31%, 0.4);
            color: rgba(255,255,255, 0.4);
          }

          button.chart-header-item:disabled {
            background-color: hsla(208, 100%, 31%, 0.4);
            color: rgba(255,255,255, 0.4);
            cursor: auto;
          }

          .chart-header-item {
            width: 100px;
            margin: 0px;
            padding: 0px;
            padding-top: 3px;
            display: inline-block;

            .Select-clear {
              display: none;
            }

            .Select {
              border-radius: 0px;
            }

            .Select-control{
              border-radius: 0px;
            }

            .Select-value {
              font-size: 15px;
              font-weight: bold;
              color: rgba(21,35,44,.8);
            }
          }

          .date-picker {
            width: 120px;
          }

          .granularity {
            width: 100px;
            display: inline;
            position: relative;

            input {
              width: 100px;
              height: 36px!important;
              padding: 8px 5px 8px 10px;
              border: 1px solid #565f66;
              border-radius: 0px;
              outline: 0;
              box-shadow: none;
              font-size: 14px;
              font-weight: bold;
              text-align: left;
              color: #FFF;
              background-color: #404a52;
              box-sizing: border-box;
            }

            input.invalid {
              border: 1px solid $trans-red;
            }

            .granularity-label {
              position: absolute;
              bottom: 6px;
              left: 80px;
              font-size: 14px;
              font-weight: bold;
              color: hsla(0,0%,100%,.9);
              transform: translateY(-50%);
            }
          }

          .websocket-status {
            display: inline-block;
            margin-left: auto;
            position: relative;
            min-width: 130px;

            @include breakpoint(medium){
              width: 5px;
              min-width: 5px;
              position: absolute;
              right: 0;
              top: 30px;
              // bottom: 50px;
            };

            @include breakpoint(small){
              width: 5px;
              min-width: 5px;
              position: fixed;
              bottom: 10px;
              right: 10px;
              z-index: 10;
            };

            span {
              position: absolute;
              bottom: 0;
              right: 30px;
              margin: 3px;
              font-size: 14px;
              font-weight: bold;
              color: hsla(0,0%,100%,.9);
            }

            .realtime-data {
              @include breakpoint(medium){
                display: none;
              };
            }

            .glyphicon {
              position: absolute;
              bottom: 0;
              right: 5px;
              width: 20px;
              height: 20px;
            }

            .glyphicon-dot:before{
                content: "\25cf";
                font-size: 1.5em;
                color: $trans-red;
            }
            .glyphicon-dot.connected:before{
                content: "\25cf";
                font-size: 1.5em;
                color: hsla(119, 100%, 50%, 0.7);
            }
          }
        }
      }
    }

    .chart-container {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;
      height: 400px;

      @include breakpoint(large){
        min-height: 400px;
      };

      @include breakpoint(medium){
        -webkit-flex-direction: column;
        flex-direction: column;
        min-height: 600px;
      };

      .highcharts-background {
        fill: #1E2B34;
      }
      .highcharts-grid-line {
        display: none;
      }
      .highcharts-axis-line {
        stroke: #4B555D;
      }
      .highcharts-axis-labels {
        stroke: #FFF;
      }
      .highcharts-point.highcharts-color-0 {
        stroke: $active-color-a;
      }
      .highcharts-point.highcharts-color-0.highcharts-point-down {
        fill: $active-color-a;
      }
      .highcharts-point.highcharts-color-0.highcharts-point-up {
        fill: $white-a;
      }
      .highcharts-column-series {
        .highcharts-point {
          fill: $purple-a;
        }
      }
      .highcharts-plot-line-label {
        fill: #fff;
      }

      .price-chart-container {
        width: $left-container-width;
        position: relative;
        height: 400px;
        padding-left: 5px;

        @include breakpoint(large){
          width: 70%;
        };

        @include breakpoint(medium){
          width: 99%;
        };

        .highcharts-navigator {
          @include breakpoint(small){
            display: none;
          };
        }

        .spinner {
          position: absolute;
          left: $left-container-width / 1.5;
          top: 200px;
        }
        .price-chart {
          width: 100%;
          height: 100%;
        }
      }

      .websocket-chart {
        width: 30%;
        height: 400px;
        position: relative;

        @include breakpoint(medium){
          width: 99%;
          height: 200px;
        };

        .highcharts-graph {
          stroke: $active-color-a;
        }

        .line-chart {
          width: 100%;
          height: 100%;

          .highcharts-container {
            @include breakpoint(medium){
              width: 100%;
              max-height: 200px;
            };
            @include breakpoint(small){
              width: 100%;
              max-height: 170px;
            };
          }
        }

        .spinner {
          position: absolute;
          left: $left-container-width / 1.5;
          top: 200px;
          @include breakpoint(small){
            display: none;
          };
        }

        .loading-message {
          padding: 30px;
          color: #FFF;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

  .right-container {
    width: $right-container-width;
    min-height: 100%;
    box-sizing: border-box;
    margin: 1px;

    @include breakpoint(large){
      width: 100%;
    };

    .log {
      height: 100%;
    }

    h2 {
      background-color: #3A444D;
      height: 23px;
      margin: 1px;
      padding: 10px;
      line-height: 1.6;
      font-size: 15px;
      font-weight: bold;
      color: #FFF;
    }

    p {
      color: #FFF;
      padding: 5px 10px;
      margin: 0px;
      white-space: pre-line;
    }

    .log-messages {
      margin: 1px;
      margin-top: 2px;
      height: 400px;
      overflow-y: hidden;
      background-color: #29353D;
      @include breakpoint(large){
        height: 200px;
      };
    }
    .log-messages:hover {
      overflow-y: overlay;
    }
  }
}
