$break-small: 320px;
$navbar-height: 50px;

$font-mini: 10px;
$font-small: 12px;
$font-med: 15px;
$font-large: 20px;

$active-color: #007eff;
$active-color-a: hsla(210, 100%, 50%, 0.5);
$active-color-b: hsla(210, 100%, 50%, 0.75);
$white-a: hsla(0, 0%, 100%, 0.75);
$purple-a: hsla(259, 100%, 65%, 0.8);
$background-color: #15232C;
$danger-color: #ff6939;
$success-color: #69C158;
$trans-red: hsla(0, 100%, 50%, 0.7);

$profile-form-width: 500px;

$left-container-width: 70%;
$right-container-width: 30%;

html * {
  //color: #000;
  font-family: opensans, sans-serif, btcglyph;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background-color: $background-color;
}

#root {
  height: 100%;
}

.App {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-width: 1000px;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited
{
  color: #000;
}

li {
  list-style: none;
}

button {
  padding: 0 15px;
  border-radius: 2px;
  line-height: 31px;
  color: $background-color;
  background-color: #FFF;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-delay: initial;
  cursor: pointer;
  overflow: visible;
  border: none;
  width: 100px;
  outline: none;
}

h2 {
  background-color: #3A444D;
  height: 27px;
  margin: 0px;
  padding: 10px;
  line-height: 2;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
}

@mixin input-border() {
  background-color: $background-color;
  border: 2px solid hsla(0,0%,100%,.2);
  border-radius: 2px;
}

input {
  @include input-border();
  height: auto!important;
  padding: 4px 5px 5px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #FFF;
  background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

button:hover {
  outline: 0 none!important;
  border: none;
  background: #5B656B;
}

.form-group {
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-small {
  height: 20px;
  line-height: 1;
}

.switch {
  background-color: #fff;
}

.switch.on {
  background-color: $danger-color;
}

.navbar.live {
  background-color: $danger-color;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #1A2831;

  a {
    font-size: 15px;
  }

  img {
    height: $navbar-height;
  }

  p {
    font-size: $font-mini;
    height: inherit;
    line-height: 0.1;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    overflow: hidden;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    height: $navbar-height;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .active {
    color: $active-color;
  }

  .nav-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    li {
      border-right: 1px solid #1A2831;
    }
  }

  .nav-group-right {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    li {
      border-left: 1px solid #1A2831;
    }
  }

  .orderbook {
    li {
      width: 75px;
    }
  }

  .accounts {
    li {
      width: 100px;
    }
  }
}

.profile {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  form {
    display: block;
    width: $profile-form-width;
    margin: auto;
    margin-top: 50px;
  }
  div {
    display: block;
  }
  input {
    width: $profile-form-width;
  }
  label {
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
  }
  .form-buttons {
    display: -webkit-flex;
    display: flex;
    button {
      margin-right: 10px;
      height: 25px;
    }
  }
  .switch {
    height: 25px;
    width: 49px;
  }
  .switch-toggle {
    height: 23px;
    width: 25px;
  }
  .Select-control {
    @include input-border();
    background-color: transparent;
    width: $profile-form-width + 15px;
    margin-bottom: 10px;
    height: auto;
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative;
  }
  .Select-arrow-zone {
    position: absolute;
    right: 0;
    margin: 10px 0;
  }
  .Select-clear-zone {
    display: none;
  }
  .Select-value {
    background-color: rgba(0, 126, 255, 0.4);
    border-color: rgba(0, 126, 255, 0.6);
    margin-top: 6px;
  }
  .Select-value-label {
    color: #FFF;
  }
  .Select-value-icon {
    color: #FFF;
  }
  .Select-menu-outer {
    @include input-border();
    width: $profile-form-width + 15px;
  }
  .Select-option {
    background-color: $background-color;
    color: #FFF;
  }
}

.dashboard {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.top-container {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
  min-height: 450px;

  .left-container {
    width: 70%;
    box-sizing: border-box; margin: 1px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    .chart-header {
      display: block;
      width: 100%;

      .chart-header-item-container {
        margin: 1px;
        padding-left: 1px;
        background-color: #3A444D;

        .chart-header-items {
          display: -webkit-inline-flex;
          display: inline-flex;
          width: 100%;

          button.chart-header-item {
            margin: 3px 0;
            margin-bottom: 4px;
            border-radius: 4px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: rgba(0, 126, 255, 0.4);
            color: #FFF;
            position: relative;

            .fetching-loader {
              position: absolute;
              right: 33px;
              top: 2px;
            }
          }

          button.chart-header-item:hover {
            background-color: hsla(208, 100%, 31%, 0.4);
            color: rgba(255,255,255, 0.4);
          }

          button.chart-header-item:disabled {
            background-color: hsla(208, 100%, 31%, 0.4);
            color: rgba(255,255,255, 0.4);
            cursor: auto;
          }

          .chart-header-item {
            width: 100px;
            margin: 0px;
            padding: 0px;
            padding-top: 3px;
            display: inline-block;

            .Select-clear {
              display: none;
            }

            .Select {
              border-radius: 0px;
            }

            .Select-control{
              border-radius: 0px;
            }

            .Select-value {
              font-size: 15px;
              font-weight: bold;
              color: rgba(21,35,44,.8);
            }
          }

          .date-picker {
            width: 120px;
          }

          .granularity {
            width: 100px;
            display: inline;
            position: relative;

            input {
              width: 100px;
              height: 36px!important;
              padding: 8px 5px 8px 10px;
              border: 1px solid #565f66;
              border-radius: 0px;
              outline: 0;
              box-shadow: none;
              font-size: 14px;
              font-weight: bold;
              text-align: left;
              color: #FFF;
              background-color: #404a52;
              box-sizing: border-box;
            }

            input.invalid {
              border: 1px solid $trans-red;
            }

            .granularity-label {
              position: absolute;
              bottom: 6px;
              left: 80px;
              font-size: 14px;
              font-weight: bold;
              color: hsla(0,0%,100%,.9);
              transform: translateY(-50%);
            }
          }

          .websocket-status {
            display: inline-block;
            margin-left: auto;
            position: relative;
            width: 150px;

            span {
              position: absolute;
              bottom: 0;
              right: 30px;
              margin: 3px;
              font-size: 14px;
              font-weight: bold;
              color: hsla(0,0%,100%,.9);
            }

            .glyphicon {
              position: absolute;
              bottom: 0;
              right: 5px;
              width: 20px;
              height: 20px;
            }

            .glyphicon-dot:before{
                content: "\25cf";
                font-size: 1.5em;
                color: $trans-red;
            }
            .glyphicon-dot.connected:before{
                content: "\25cf";
                font-size: 1.5em;
                color: green;
            }
          }


        }
      }
    }

    .chart-container {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;

      .highcharts-background {
        fill: #1E2B34;
      }
      .highcharts-grid-line {
        display: none;
      }
      .highcharts-axis-line {
        stroke: #4B555D;
      }
      .highcharts-axis-labels {
        stroke: #FFF;
      }
      .highcharts-point.highcharts-color-0 {
        stroke: $active-color-a;
      }
      .highcharts-point.highcharts-color-0.highcharts-point-down {
        fill: $active-color-a;
      }
      .highcharts-point.highcharts-color-0.highcharts-point-up {
        fill: $white-a;
      }
      .highcharts-column-series {
        .highcharts-point {
          fill: $purple-a;
        }
      }
      .highcharts-plot-line-label {
        fill: #fff;
      }

      .price-chart-container {
        width: $left-container-width;
        position: relative;
        height: 400px;
        padding-left: 5px;
        .spinner {
          position: absolute;
          left: $left-container-width / 1.5;
          top: 200px;
        }
        .price-chart {
          width: 100%;
          height: 100%;
        }
      }

      .websocket-chart {
        width: 30%;
        min-height: 100%;
        position: relative;

        .highcharts-graph {
          stroke: $active-color-a;
        }

        .line-chart {
          width: 100%;
          height: 100%;
        }

        .spinner {
          position: relative;
          left: $left-container-width / 1.5;
          top: 200px;
        }

        .loading-message {
          padding: 30px;
          color: #FFF;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

  .right-container {
    width: $right-container-width;
    min-height: 100%;
    box-sizing: border-box;
    margin: 1px;

    .log {
      height: 100%
    }

    h2 {
      background-color: #3A444D;
      height: 23px;
      margin: 1px;
      padding: 10px;
      line-height: 1.6;
      font-size: 15px;
      font-weight: bold;
      color: #FFF;
    }

    p {
      color: #FFF;
      padding: 5px 10px;
      margin: 0px;
      white-space: pre-line;
    }

    .log-messages {
      margin: 1px;
      margin-top: 2px;
      height: 400px;
      overflow-y: hidden;
      background-color: #29353D;
    }
    .log-messages:hover {
      overflow-y: overlay;
    }
  }
}

.bottom-container {
  width: 100%;
  min-height: 250px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;

  h2 {
    box-sizing: border-box;
    height: 32px;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .script-list {
    width: 15%;
    margin: 1px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #1E2B34;
    box-sizing: border-box;

    button {
      width: 100%;
      border-radius: 0px;
      border-bottom: #000 solid 1px;
      padding-left: 10px;
      text-align: left;
    }

    .list-item.active {
      background-color: #fff;
      button {
        background-color: $active-color-b;
      }
    }

    .list-item {
      display: block;
      position: relative;
      .switch {
        position: absolute;
        right: 10px;
        top: 6px;
        display: inline-block;
        height: 15px;
        width: 38px;
      }
      .switch-toggle {
        height: 13px;
        width: 13px;
      }
    }

    .scripts {
      margin: 1px;
      max-height: 100%;
      overflow-y: hidden;
    }
    .scripts:hover {
      overflow-y: overlay;
    }
  }

  .code-editor {
    width: 55%;
    position: relative;

    form {
      height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      position: relative;
      .code-editor-header {
        height: 32px;
        background-color: #3A444D;
        margin: 1px;
        box-sizing: border-box;
        span {
          font-size: 15px;
          color: #FFF;
          font-weight: bold;
          padding-left: 5px;
          padding-right: 10px;
        }
        input {
          margin-top: 2px;
          width: 200px;
          border-width: 1px;
        }
        button {
          position: absolute;
          top: 5px;
          right: 5px;
          line-height: 1.8;
          background-color: $danger-color;
          color: #FFF;
          font-weight: bold;
          font-size: 14px;
        }
      }

      .textarea {
        background-color: #29353D;
        -webkit-flex: 1;
        flex: 1;
        margin: 1px;
        box-sizing: border-box;

        textarea {
          margin-left: 10px;
          margin-right: 10px;
          resize: none;
          width: 98%;
          height: 97%;
          font-family: 'Roboto Mono', 'Menlo', 'Ubuntu Mono', 'Monaco', 'Consolas', 'source-code-pro', 'monospace';
          line-height: 1.21;
          font-size: 14px;
          border: none;
          outline: none;
          color: #FFF;
          background-color: #29353D;
          overflow-y: hidden;
        }
        textarea:focus {
          overflow-y: scroll;
        }
        textarea:hover{
          overflow-y: scroll;
        }
      }

      .action-buttons {
        position: absolute;
        right: 5px;
        bottom: 5px;
        button {
          color: #FFF;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.8;
          width: 5em;
        }
        .btn-run {
          background-color: $active-color;
          margin-right: 5px;
        }
        .btn-test {
          background-color: orange;
        }
      }
    }
  }

  .doc-list {
    width: 30%;
    box-sizing: border-box;
    margin: 1px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -moz-box;
    -moz-box-orient: vertical;
    background-color: #1E2B34;

    button {
      width: 100%;
      text-align: left;
      border-bottom: 1px solid black;
      border-radius: 0px;
    }
    .docs {
      margin: 1px;
      margin-top: 2px;
      overflow-y: hidden;
    }
    .docs:hover {
      overflow-y: overlay;
    }
  }
}
